<% include header %>
<div class="container text-center">
<h1>The Watch List</h1>
<% for(var i=0; i<data.length; i++) { %>
<div class="row text-center">
	<form action="/delete" method="post">
		<input value="<%=data[i].dataValues.imdb_code %>" type="hidden" name="imdbCode">
		<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span></button>
		<a href="/movies/<%=data[i].dataValues.imdb_code%>"><%=data[i].dataValues.title%>&nbsp</a><small><%=data[i].dataValues.year%></small>
	</form>
</div>
<% } %>
<% include footer %>