<% include header %>
<div class="container text-center">
<div>
	<table class="table table-bordered text-center">
		<caption><h1 class="text-center">The Watch List</h1></caption>
		<thead>
			<tr>
				<th class="text-center">remove</th>
				<th class="text-center">title</th>
				<th class="text-center">year</th>
			</tr>
		</thead>
		<tbody>
		<% for(var i=0; i<data.length; i++) { %>
			<tr>
				<td>
				<a href='#' data-id="<%= data[i].dataValues.id %>" class="btn btn-primary deleteThis"><span class="glyphicon glyphicon-minus"></span></a>
				</td>
				<td><a href="/movies/<%=data[i].dataValues.imdb_code%>"><%=data[i].dataValues.title%>&nbsp</a></td>
				<td><h4><%=data[i].dataValues.year%></h4></td>
			</tr>
		<% } %>
		</tbody>
	</table>
	
		
	</form>
</div>
<% include footer %>