<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Watch List!</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<script src="/script.js"></script>
</head>
<body>
<nav class="navbar navbar-default container" role="navigation">
	<div class="container">
		<div class="navbar-header">
      		<a class="navbar-brand" href="/"><img alt="Brand" src="/pics/watchlist_big.png" height="40px" width="40px"></a>
    	</div>
  		<ul class="nav navbar-nav">
    		<li class="active"><a href="/browse">My List</a></li>
		</ul>
	  	<form action="/search" method="get" class="navbar-form navbar-right" role="search">
	  	<div class="form-group">
	  		<input type="submit" name="submit" class="btn btn-default">
			<input type="text" name="title" placeholder="enter movie title here!" class="text-center">
		</div>
	  </form>
	</div>
</nav>