<% include header %>
<!-- <div class="container text-center">
	<div><h1>Movie Search!</h1></div>
	<div>
	<form action="/search" method="get">
		<input type="text" name="title" placeholder="enter movie title here!"><br><br>
		<input type="submit" name="submit" class="btn btn-default">
	</form>
</div> -->
<div class="container">
	<div class="row text-center">
	<img src="/pics/watchlist_big.png" class="center-block" height="200px" width="200px">
	<h1>Welcome to Watch List!</h1>
	<p>This site is a database that allows you to search for movies and add them to a list to remind yourself to watch them. Clicking on a movie title will take you to a brief description of the movie and the poster if available. </p>
	</div>
<% include footer %>