.navbar {
	background-color: #2B2B2B;
}
small {
	font-size: 1em;
}
.navbar-right {
	margin-right: 1em;
}



.navbar-nav {
	margin-top: .5em;
	border-radius: 5%;
}

.btn-primary {
	margin-bottom: .75em;
	background: #DE1B1B;

}
.btn-default {
	height: 3.5em;
}
h3 {
	font-weight: bold;
	color: #2B2B2B;
	
}
th {
	font-size: 2em;
	font-weight: bold;
}

td {
	padding: auto;
}

h1 {
	color: #DE1B1B;
}

p {
	font-size: 1.75em;
}

body {
	background-color: #ECECEA;
	font-family: 'Fjalla One', sans-serif;

}

a, h4 {
	color: #2B2B2B;
	font-size: 2em;
	line-height: 2em;
}

a:hover {
	color: #DE1B1B;
	text-decoration: none;
}

.navbar-form {
	font-size: 2em;
}

img {
	display: block;
}